.App {
  font-family: sans-serif;
  text-align: center;
}
#logDetails {
  font-size: 12px;
  font-weight: ;
  font-style: italic;
  color: black;
  text-align: left;
}
ul {
  list-style: none;
}
.loggerWrapper {
  height: 255px !important;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 10px solid white;
}
.textareaWrapper {
  height: 300px !important;
  width: 100%;
}

.draw_div {
  height: 800px;
  overflow: auto;

  width: 100%;
  border: 2px solid red;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

polygon {
  stroke: black;
}
.customBtn {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: indianred;
  color: white;
  border: 2px solid green;
}
